.root {
    -fx-background-color: #F2F2F2; /* Light gray background */
}

/* button */

.button {
    -fx-background-color: #3498DB; /* Light blue button */
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15;
}

.button:hover {
    -fx-background-color: #2980B9; /* Darker blue on hover */
}

.button:pressed {
    -fx-background-color: #1F618D; /* Even darker blue when pressed */
}

/* coloured buttons */

#btnRed {
    -fx-background-color: #E74C3C; /* Light red button */
}

#btnRed:hover {
    -fx-background-color: #C0392B; /* Darker red on hover */
}

#btnRed:pressed {
    -fx-background-color: #922B21; /* Even darker red when pressed */
}

#btnGreen {
    -fx-background-color: #2ECC71; /* Light green button */
}

#btnGreen:hover {
    -fx-background-color: #27AE60; /* Darker green on hover */
}

#btnGreen:pressed {
    -fx-background-color: #196F3D; /* Even darker green when pressed */
}

#btnBlue {
    -fx-background-color: #3498DB; /* Light blue button */
}

#btnBlue:hover {
    -fx-background-color: #2980B9; /* Darker blue on hover */
}

#btnBlue:pressed {
    -fx-background-color: #1F618D; /* Even darker blue when pressed */
}

#btnPurple {
    -fx-background-color: #9B59B6; /* Light purple button */
}

#btnPurple:hover {
    -fx-background-color: #8E44AD; /* Darker purple on hover */
}

#btnPurple:pressed {
    -fx-background-color: #6C3483; /* Even darker purple when pressed */
}

/* Sidebar */

#sideBar {
    -fx-background-color: #3498DB; /* Light blue sidebar */
}

#sideBar .button {
    -fx-background-color: #3498DB; /* Light blue button in sidebar */
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

#sideBar .button:hover {
    -fx-background-color: #2980B9; /* Darker blue on hover in sidebar */
}

#sideBar .button:pressed {
    -fx-background-color: #1F618D; /* Even darker blue when pressed in sidebar */
}

/* label */

.label {
    -fx-text-fill: #555555; /* Dark gray text color */
}

#loginMessageLabel,
#txtEmptyError {
    -fx-text-fill: #D35400; /* Dark orange error message */
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

#lblForgotP:hover {
    -fx-text-fill: #3498DB; /* Light blue on hover for hyperlink */
    -fx-underline: true;
}

/* text field */

.text-field {
    -fx-background-color: #FFFFFF; /* White text field */
    -fx-text-fill: #555555; /* Dark gray text color */
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-border-color: #3498DB; /* Light blue border */
}

.text-field:hover {
    -fx-border-color: #2980B9; /* Darker blue on hover */
}

.text-field:focused {
    -fx-border-color: #2980B9; /* Darker blue when focused */
    -fx-border-width: 2;
}

/* combobox */

.combo-box {
    -fx-background-color: #FFFFFF; /* White combo box background */
    -fx-text-fill: #555555; /* Dark gray text color */
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-border-color: #3498DB; /* Light blue border */
}

.combo-box .list-cell {
    -fx-background-color: #FFFFFF; /* White list cell background */
    -fx-text-fill: #555555; /* Dark gray text color */
}

.combo-box-popup .list-view {
    -fx-background-color: #FFFFFF; /* White popup background */
    -fx-text-fill: #555555; /* Dark gray text color */
    -fx-background-radius: 15;
}

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;
    -fx-background-color: #FFFFFF; /* White list cell background */
}

.combo-box-popup .list-view .list-cell:filled:selected,
.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: #3498DB; /* Light blue on selection */
    -fx-background-color: #3498DB; /* Light blue on selection */
    -fx-text-fill: #FFFFFF;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #D3D3D3; /* Light gray on hover */
    -fx-text-fill: #555555; /* Dark gray text color */
}

/* separator */

.separator {
    -fx-background-color: #CCCCCC; /* Light gray separator color */
    -fx-background-radius: 5;
    -fx-stroke: 0;
}

/* pane */

#contentPane,
#addPane {
    -fx-background-color: #F2F2F2; /* Light gray content pane background */
    -fx-background-radius: 15;
    -fx-border-color: #3498DB; /* Light blue border */
    -fx-border-radius: 15;
}

/* table view */

.table-view {
    -fx-background-color: #FFFFFF; /* White table view background */
    -fx-border-color: #CCCCCC; /* Light gray border */
}

.table-view:focused {
    -fx-background-color: #FFFFFF; /* White background when focused */
}

.table-view .column-header {
    -fx-background-color: #3498DB; /* Light blue column header */
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .table-cell {
    -fx-text-fill: #555555; /* Dark gray text color */
}

.table-row-cell {
    -fx-background-color: #F2F2F2; /* Light gray table row background */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: #FFFFFF; /* White table row background for odd rows */
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #3498DB; /* Light blue on selection */
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/* scroll pane */

.scroll-pane {
    -fx-background-color: #FFFFFF; /* White scroll pane background */
    -fx-border-color: #2980B9; /* Darker blue border */
    -fx-border-width: 2;
}

.scroll-pane .viewport {
    -fx-background-color: #F2F2F2; /* Light gray viewport background */
}

/* scroll bar */

.scroll-bar {
    -fx-background-color: #3498DB; /* Light blue scroll bar */
    -fx-background-radius: 15;
    -fx-arrows-visible: false;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 00.0 0.0;
}

.scroll-bar .thumb {
    -fx-background-color: #b4b3b3;
    -fx-background-radius: 15;
}

/* Help pane */

#addPane {
    -fx-background-color: #F2F2F2; /* Light gray background for help pane */
    -fx-background-radius: 15;
    -fx-border-color: #3498DB; /* Light blue border */
    -fx-border-radius: 15;
}

.help-pane {
    -fx-background-color: #ffffff; /* Default background color */
    -fx-padding: 5px; /* Adjust padding as needed */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
}

/* Date picker */
.date-picker {
    -fx-background-color: #FFFFFF; /* White background */
}

.date-picker > .arrow-button {
    -fx-background-color: #FFFFFF; /* White background */
}

.date-picker > .arrow-button:hover {
    -fx-background-color: #E6E6E6; /* Light gray on hover */
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: #CCCCCC; /* Gray when pressed */
}

.date-picker > .text-field {
    -fx-background-color: #FFFFFF; /* White background */
    -fx-text-fill: #555555; /* Dark gray text color */
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-radius: 15;
    -fx-border-color: #3498DB; /* Light blue border */
}

.date-picker > .text-field:hover {
    -fx-border-color: #2980B9; /* Darker blue on hover */
}

.date-picker > .text-field:focused {
    -fx-border-color: #2980B9; /* Darker blue when focused */
    -fx-border-width: 2;
}

.date-picker .day-cell {
    -fx-background-color: #FFFFFF; /* White background */
    -fx-text-fill: #555555; /* Dark gray text color */
}

.date-picker .day-cell:hover {
    -fx-background-color: #D3D3D3; /* Light gray on hover */
}

.date-picker .day-cell:selected {
    -fx-background-color: #3498DB; /* Light blue on selection */
    -fx-text-fill: #FFFFFF; /* White text color */
}

.date-picker .date-picker-popup {
    -fx-background-color: #FFFFFF; /* White background */
}

.date-picker .calendar-grid {
    -fx-background-color: #FFFFFF; /* White background */
}

.date-picker-popup > .month-year-pane {
    -fx-base: #FFFFFF; /* White background */
    -fx-mark-highlight-color: -fx-light-text-color;
}

.date-picker .week-number-cell {
    -fx-background-color: #FFFFFF; /* White background */
    -fx-text-fill: #555555; /* Dark gray text color */
}

/* Error borders */
.error-border {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.edit-border {
    -fx-border-color: green;
    -fx-border-width: 2px;
}
